.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  .AddSection {
    justify-content: center;
    display: flex;

    input {
      max-width: 300px;
      margin-right: 10px;
    }
  }
}
